<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" android:sharedUserId="android.uid.system" package="com.qualcomm.location" platformBuildVersionCode="28" platformBuildVersionName="9">
    <permission android:description="@string/desc" android:label="@string/label" android:name="com.qualcomm.permission.IZAT" android:protectionLevel="signatureOrSystem"/>
    <permission android:description="@string/desc" android:label="@string/label" android:name="com.qualcomm.permission.ACCESS_GTPWIFI_API" android:protectionLevel="signatureOrSystem"/>
    <permission android:description="@string/desc" android:label="@string/label" android:name="com.qualcomm.permission.ACCESS_GTPWWAN_API" android:protectionLevel="signatureOrSystem"/>
    <permission android:description="@string/desc" android:label="@string/label" android:name="com.qualcomm.permission.ACCESS_GTPWIFI_CROWDSOURCING_API" android:protectionLevel="signatureOrSystem"/>
    <permission android:description="@string/desc" android:label="@string/label" android:name="com.qualcomm.permission.ACCESS_GTPWWAN_CROWDSOURCING_API" android:protectionLevel="signatureOrSystem"/>
    <protected-broadcast android:name="com.android.location.osagent.COUNTRY_SELECT_ACTION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.qualcomm.permission.IZAT"/>
    <uses-permission android:name="com.qualcomm.permission.ACCESS_LOCATION_API"/>
    <uses-permission android:name="com.qualcomm.permission.ACCESS_GTPWIFI_API"/>
    <uses-permission android:name="com.qualcomm.permission.ACCESS_GTPWWAN_API"/>
    <uses-permission android:name="com.qualcomm.permission.ACCESS_GTPWIFI_CROWDSOURCING_API"/>
    <uses-permission android:name="com.qualcomm.permission.ACCESS_GTPWWAN_CROWDSOURCING_API"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_USERS"/>
    <application android:allowBackup="false" android:label="LocationServices" android:process="system">
        <uses-library android:name="com.android.location.provider"/>
        <uses-library android:name="izat.xt.srv"/>
        <uses-library android:name="services.core"/>
        <receiver android:name=".LocationServiceReceiver" android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name=".LBSSystemMonitorService"/>
        <service android:exported="false" android:name=".LocationService"/>
        <activity android:excludeFromRecents="true" android:name=".NetInitiatedActivity" android:process="system" android:theme="@android:style/Theme.Leanback.Settings.Dialog"/>
        <service android:exported="false" android:name=".izatprovider.NetworkLocationService">
            <intent-filter>
                <action android:name="com.android.location.service.v2.NetworkLocationProvider"/>
                <action android:name="com.android.location.service.v3.NetworkLocationProvider"/>
            </intent-filter>
            <meta-data android:name="serviceVersion" android:value="10000"/>
        </service>
        <receiver android:name=".GpsNetInitiatedHandler$OutgoingCallReceiver" android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:name=".izat.IzatService" android:permission="android.permission.ACCESS_FINE_LOCATION" android:singleUser="true">
            <intent-filter>
                <action android:name="com.qualcomm.location.izat.IzatService"/>
            </intent-filter>
            <meta-data android:name="serviceVersion" android:value="1"/>
        </service>
    </application>
</manifest>